/* Global Styles */
* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Body Styles */
body {
    background-color: #000000;
}

/* Background Styles */
.bg-1 {
    background-color: #eee5e9;
}

/* Navigation Title Styles */
.nav-title {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.5rem;
    font-weight: 600;
}

/* Loading Text Styles */
#loadingText {
    font-size: 1.5rem;
    font-weight: 500;
}

/* Footer Section Styles */
#footerSign {
    font-family: "Delius Swash Caps", cursive;
    font-weight: 400;
    font-style: italic;
}

/* Star Icon Styles */
.fa-star {
    cursor: pointer;
    font-size: 1.0rem;
}

.ratingTotal {
    font-size: 0.6rem;
}